nav {
    text-align: left; /* Alignement à gauche */
    padding: 10px;
    background-color: #fff; /* Arrière-plan blanc */
    font-family: Arial, sans-serif; /* Belle police */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Assure que le corps prend au moins toute la hauteur de la fenêtre de visualisation */
    width: 80%;
    margin: 0 auto; /* Centre le contenu */
}

nav ul {
    list-style-type: none; /* Enlève les puces */
    margin: 0; /* Enlève les marges */
    padding: 0; /* Enlève les espacements internes */
}

nav ul li {
    display: inline;  /* Affiche les éléments en ligne */
    margin-right: 20px; /* Espacement entre les onglets */
}

nav ul li a {
    text-decoration: underline; /* Enlève le soulignement des liens */
    color: #000; /*couleur noire */
    padding: 10px 20px; /* Espace autour du texte */
    transition: all 0.3s ease; /* Transition fluide lors du survol */
}

nav ul li a:hover {
    background-color: #AA210C; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
}

/*header style*/
header {
    background-color: #75190C;
    color: #fff; 
    padding: 20px; 
    text-align: center; 

}

/*creating the two-column layout*/
*{
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.post-text-box {
    flex: 70%;
    padding: 20px;
}

.profile {
    flex: 70%;
    padding: 20px;
}

/*profile image and heading style*/
.profile img {
    width: 120px;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.profile h1 {
    text-align: center; 
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.tabcontent {
    animation: fadeInUp 1s ease-out;
}