nav {
    text-align: center; /* Alignement à gauche */
    padding: 10px;
    background-color: #fff; /* Arrière-plan blanc */
    font-family: Arial, sans-serif; /* Belle police */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Assure que le corps prend au moins toute la hauteur de la fenêtre de visualisation */
    width: 80%;
    margin: 0 auto; /* Centre le contenu */
}

nav ul {
    list-style-type: none; /* Enlève les puces */
    margin: 0; /* Enlève les marges */
    padding: 0; /* Enlève les espacements internes */
}

nav ul li {
    display: inline;  /* Affiche les éléments en ligne */
    margin-right: 20px; /* Espacement entre les onglets */
}

nav ul li a {
    color: #000; /*couleur noire */
    padding: 10px 20px; /* Espace autour du texte */
    transition: all 0.3s ease; /* Transition fluide lors du survol */
}

nav ul li a:hover {
    /*souligne depuis le centre jusqu'au bout des mots quand on passe sa souris dessus */
    background-image: linear-gradient(0deg, #fff 50%, transparent 50%);
    background-position: 0 100%;
    background-color: #AA210C; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
}

/*header style*/
header {
    background-color: #75190C;
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.tabcontent {
    animation: fadeInUp 1s ease-out;
}