nav {
    text-align: center;
    padding: 10px;
    background-color: #fff; /* Arrière-plan blanc */
    font-family: Arial, sans-serif; /* Belle police */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Espacement entre les onglets */
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Couleur du texte */
    padding: 10px 20px; /* Espace autour du texte */
    border: 1px solid #ccc; /* Bordure autour des onglets */
    border-radius: 5px; /* Coins arrondis */
    transition: all 0.3s ease; /* Transition fluide lors du survol */
}

nav ul li a:hover {
    background-color: #ccc; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
}


/*header style*/
header {
    background-color: #333;
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

/*creating the two-column layout*/
*{
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.post-text-box {
    flex: 70%;
    padding: 20px;
}

.profile {
    flex: 70%;
    padding: 20px;
}

/*profile image and heading style*/
.profile img {
    width: 120px;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.profile h1 {
    text-align: center;
}


.fade-in {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}